@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700&subset=latin,cyrillic);

.day,
.time,
.footer-button,
.button,
.tabs li a,
.button-small,
.special-item,
.author-info .avatar,
.author-info .avatar img{
	behavior: url(js/PIE.htc);
}

.menu li {margin:0 0 0 13px;}
.text-bot,
.footer-button,
.button {letter-spacing:-1px;}

.special-item:hover {box-shadow:0px 0px 23px rgba(119,119,119,1.0);}

.day {margin:0 -4px 0 0;}




