/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;

}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:none;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block;
 }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:41%;
	bottom:50px;
	/*width:1000px;*/
	z-index:8;
	/*overflow: hidden;*/
	/*display: none;*/
	}

.nivo-caption p {
	padding:0px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	font-size:0px;
	top:45%;
	z-index:9;
	cursor:pointer;
	display:block;

}
.nivo-prevNav {
	left:-56px;
	font-size:0px;
	height:55px;
	width:28px;
	background:url(../img/left_arrow.png) no-repeat;
	margin-top:0px;
	z-index:100!important;
}
.nivo-nextNav {
	right:-56px;
	font-size:0px;
	height:55px;
	width:28px;
	background:url(../img/right_arrow.png) no-repeat;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
position:relative;
font-size:0px;
margin-top:px;
z-index:500;
margin-left:45%;
margin-bottom:35px;
margin-top:-35px;
}
.nivo-controlNav a {
background:url(../img/sl_button_active_n.png) no-repeat;
display:block;
width:16px;
height:16px;
margin-left:10px;
float:left;
cursor:pointer;
}
.nivo-controlNav a.active {
background:url(../img/sl_button_active.png) no-repeat;
cursor:pointer;
}