@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
/*---------------------------------------- 
				Global properties
---------------------------------------- */
html, body {height:100%;
}

body{
    color:#fff;
    font-family: 'PFAgoraSansProRegular', Arial, sans-serif;
	font-size:14px;
	line-height:1.3;
	background:url(../img/bgr.png) repeat-x #fff;
}
.clearfix:before,.clearfix:after{
content:"";
display:table;
}
.clearfix:after{
clear:both;
}
.border_fort{
behavior: url(PIE.htc);
}
.main {
height:100%;
}
.main  a{
text-decoration:none;
}
.clear {
	clear:both; 
	width:100%;
	line-height:0; 
	font-size:0;
}
.rd{
float:right;
}
.ld{
float:left;
}
.real_width{
width:1000px;
margin:0px auto;
}
.margin_r{
margin-right:0px!important;
}

/*-------HEADER------*/

.header_top{
height:81px;
}
.menu_ht_left{
margin-top:28px;
margin: 28px 120px 0px;
display: inline-block;

}

.menu_ht_left a{
color:#d3d3d3;
font-size:14px;
text-transform:uppercase;
font-family: 'GothamProMedium';
}
.menu_ht_left li{
float:left;
color:#d3d3d3;
font-size:14px;
text-transform:uppercase;
font-family: 'GothamProMedium';
margin-right:22px;
}

.menu_ht_left a:hover{
text-decoration:underline !important;
}

.menu_ht_right{
margin-top:28px;
margin-right:50px;
display: inline-block;
margin-left: 110px;
}

.menu_ht_right a{
color:#d3d3d3;
font-size:14px;
text-transform:uppercase;
font-family: 'GothamProMedium';
}

.menu_ht a{
    color:#d3d3d3;
    font-size:14px;
    text-transform:uppercase;
    font-family: 'GothamProMedium';
}

.menu_ht_right li{
float:right;
color:#d3d3d3;
font-size:14px;
text-transform:uppercase;
font-family: 'GothamProMedium';
margin-left:22px;
}

.menu_ht{
    display: inline-block;
    margin: 30px 98px 0;
}

.menu_ht li{
    color:#d3d3d3;
    font-size:14px;
    text-transform:uppercase;
    font-family: 'GothamProMedium';
    margin:0 11px;
    display: inline-block;
}

.menu_ht_right a:hover{
text-decoration:underline !important;
}
.logo{
background:url(../img/logo.png) no-repeat;
display:block;
width:202px;
height:50px;
/*margin-left:70px;*/
margin-top:16px;
display: inline-block;
}

.header_bottom{
height:76px;
} 

.menu_hb{
margin-top:20px;
}
.menu_hb a{
display:block;
width:107px;
height:34px;
border:1px solid #d5d5d5;
font-family: 'GothamProMedium';
color:#0a0a0a;
font-size:11px;
text-transform:uppercase;
line-height:34px;
padding-left:12px;
position:relative;
background:#f3f3f3;
}
.menu_hb li{
float:left;
margin-right:24px;
}
.for_search a{
display:block;
width:123px;
height:35px;
background:#000;
color:#fff;
text-align:center;
padding:0px!important;
}
.ar{
background:url(../img/ar.png) no-repeat;
display:block;
width:11px;
height:6px;
position:absolute;
right:10px;
top:15px;
}
.for_search a:hover{
text-decoration:underline !important;
}

#header{
margin-bottom:30px;
}

/*-------CONTENT------*/



.title_paeople{
text-align:center;
position:relative;
margin-bottom:12px;
}
.title_paeople p{
color:#0a0a0a;
font-size:30px;
font-family: 'GothamProMedium';
text-transform:uppercase;
position:relative;
height:40px;
}
.title_paeople span{
font-family: 'TimesItalic';
font-size:22px;
color:#adadad;
position:absolute;
top:6px;
padding-left:3px;
}
.view{
color:#818181;
font-size:10px;
text-align:center;
display:block;
width:80px;
height:23px;
line-height:23px;
background:#eaeaea;
border-radius:5px;
text-transform:uppercase;
position:absolute;
right:0px;
bottom:3px;
}
.view:hover{
text-decoration:underline !important;
}




.people_list a{
font-family: 'TimesItalic';
color:#0a0a0a;
font-size:16px;
text-decoration:none !important;
display:block;
width:150px;
}
.people_list a:hover{
text-decoration:underline !important;
}
.people_list{
text-align:center;
}
.people_list img{
margin-bottom:7px;
width:150px;
height:200px;
}
.people_list li{
float:left;
margin-right:20px;
margin-bottom:20px;
}

.title_for_slider h1{
color:#000;
font-size:28px;
font-family: 'TimesItalic';
text-align:center;
font-weight:normal;
margin-bottom:15px;
}
.tfs_list li{
float:left;
color:#6d6d6d;
font-size:12px;
text-transform:uppercase;
margin-right:10px;
}
.tfs_list span{
color:#000;
}
.tfs_list{
margin-left:145px;
margin-bottom:22px;
}



/*-------SLIDER_PART-------*/


.slider_part{
width:953px;
margin:0px auto;
margin-bottom:10px;
}
.inf_slider a{
display:block;
/*height:50px!important;*/
/*line-height:50px;*/
text-transform:uppercase;
color:#fff;
font-size:14px;
background:#000;
font-family: 'GothamProMedium';
padding:20px 40px;
}
.inf_slider a:hover{
text-decoration:underline !important;
}

/*-----CARUSEL--------*/

.slider_small {
	display: block;
	width: 620px;
	margin: 0px auto;
	position: relative;
}

#wrapper .d-carousel ul li {
	background: none;
	background-color: #FFF;
	padding: 3px;
	width: 49px;
	text-align:center;
	margin-left:4px;
    cursor: pointer;
}
#wrapper  a{
text-decoration:none;
}
#wrapper  a:hover .gow_sl{
text-decoration:none !important;
}
#wrapper img{
border:1px solid #f1f0f0;
}
#wrapper p{
margin-top:5px;
}
#wrapper  a:hover{
text-decoration:underline !important;
}
.jcarousel-direction-rtl {
	direction: rtl;
}

.d-carousel .jcarousel-container {
	display: block;
	margin-bottom: 20px;
	margin-left:10px;
}

.d-carousel .jcarousel-item {
	width: 100px;
}

.d-carousel .jcarousel-container-horizontal {
	padding: 0 10px;
	}

.d-carousel .jcarousel-item-horizontal {
	margin-left: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 0px;
}

.d-carousel .jcarousel-next-horizontal {
	position: absolute;
	top: 24px;
	right:-17px;
	width: 14px;
	height: 27px;
	cursor: pointer;
	background: transparent url(../img/blog-arrows_r.jpg) no-repeat top right;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px;
	right: auto;
	background-image: url(../img/blog-arrows.jpg);
}

.d-carousel .jcarousel-next-horizontal:hover {
	background-position: bottom right;
}

.d-carousel .jcarousel-prev-horizontal {
	position: absolute;
	top: 24px;
	left: -10px;
	width: 14px;
	height: 27px;
	cursor: pointer;
	background: transparent url(../img/blog-arrows.jpg) no-repeat top left;
}

.d-carousel .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../img/blog-arrows.jpg);
}

.d-carousel .jcarousel-prev-horizontal:hover {
	background-position: bottom left;
}



.name_sl{
color:#000;
font-size:18px;
padding-left:10px;
margin-bottom:10px;
}


/*-------AGAIN_CONTENT-------*/

.network_list{
margin-left:385px;
margin-bottom:40px;
}
.network_list li{
float:left;
margin-right:15px;
}




.list_polaroid li{
float:left;
margin-right:7px;
}
.list_polaroid a{
display:block;
width:145px;
height:29px;
line-height:29px;
text-transform:uppercase;
border:2px solid #000;
text-align:center;
color:#000;
font-family: 'GothamProMedium';
font-size:10px;
cursor: pointer;
}
.list_polaroid a:hover{
color:#fff;
background:#000;
}
.list_polaroid{
margin-left:200px;
margin-bottom:40px;
}



.all_polaroid li{
float:left;
margin-right:53px;
margin-bottom:51px;
}

/*-------FOOTER------*/


#footer{
display:block;
height:83px;
background:#000;
margin-top:50px;
}
.list_footer li{
float:left;
margin-top:14px;
margin-right:34px;
}
.list_footer{
margin-left:340px;
}
.list_footer a{
color:#ffffff;
font-size:12px;
text-transform:uppercase;
font-family: 'GothamProMedium';
}
.list_footer a:hover{
text-decoration:underline !important;
}
.footer_in p{
text-align:center;
margin-top:14px;
color:#7d7d7d;
font-size:12px;
font-family: 'GothamProRegular';
}



/*-------FOR_MENU----*/

.for_menu{
position:relative;
}
.sub{

}
ul.sub{
	position:absolute;
	display:none;
	left:0px;
	top:35px;
	margin:0px!important;
	z-index:150;
}

li.sub{
    padding-left:0px;
	padding-right:0px;
	margin:0px!important;
	padding:0px;
	height:35px!important;
	line-height:35px;
    width: 121px;
	}
div.sub{
	display:block;
	width:137px;
	height:34px;
	border:1px solid #d5d5d5;
	font-family: 'GothamProMedium';
	color:#8b8b8b;
	font-size:11px;
	text-transform:uppercase;
	line-height:34px;
	padding-left:12px;
	position:relative;
	background:#f3f3f3!important;
}

div.sub:hover{
text-decoration:none !important;
color:#0a0a0a;
}

div.sub > input{
    position: relative;
    top:4px;
}

.for_menu:hover ul.sub{
display:block!important;
}

/*-----CONTENT_AGAIN------*/


.girl_list li{
float:left;
width:199px;
}
.girl_list img{
width:199px;
height:222px;
}
.girl_list{
margin-bottom:35px;
}



.basic_list{
display:block;
width:313px;
margin-right:29px;
}
.title_basic{
background:#eaeaea;
color:#000000;
font-size:18px;
text-align:center;
height:62px;
line-height:62px;
font-family: 'GothamProMedium';
text-transform:uppercase;
}
.amount_basic p{
color:#000;
font-size:36px;
font-family: 'TimesItalic';
text-align:center;
margin-top:16px;
margin-bottom:8px;
}
.amount_basic{
text-align:center;
padding-bottom:20px;
}
.amount_basic span{
font-size:14px;
color:#000;
text-align:center;
font-family: 'GothamProRegular';
}
.brd_basic{
display:block;
height:62px;
line-height:62px;
border:1px solid #e6e6e6;
color:#000;
font-size:14px;
font-family: 'GothamProRegular';
text-align:center;
margin-bottom:-1px;
}
.black_basic a{
display:block;
height:54px;
line-height:54px;
text-align:center;
color:#fff;
text-transform:uppercase;
background:#000;
margin-top:10px;
font-family: 'GothamProMedium';
}
.black_basic a:hover{
text-decoration:underline !important;
}
.price_block{
padding-bottom:50px;
}



/*------HIDE_BLOCKS-------*/

.shadow_box{
display:block;
width:100%;
height:100%;
background:url(../img/shadow_box.png);
position:fixed;
z-index: 10;
display: none;
}
.shadow_in{
display:block;
width:287px;
margin:0px auto;
padding:38px;
background:#fff;
margin-top:241px;
position:relative;
}
.close_span{
background:url(../img/close_span.png) no-repeat;
display:block;
width:12px;
height:13px;
position:absolute;
right:10px;
top:10px;
}
.no_follow_logo{
background:url(../img/no_follow_logo.png) no-repeat;
display:block;
width:149px;
height:37px;
margin:0px auto;
}
.double_separator{
background:url(../img/double_separator.png) repeat-x;
display:block;
height:3px;
margin:25px 0px;
}
.sp_text{
text-align:center;
color:#000;
font-size:14px;
text-align:center;
font-family: 'GothamProRegular';
margin-bottom:15px;
}



.for_plus a{
display:block;
width:137px;
height:34px;
}
.f1{
background:url(../img/f1.png) no-repeat;
display:block;
width:137px;
height:34px;
float:left;
}
.g1{
background:url(../img/g1.png) no-repeat;
display:block;
width:137px;
height:34px;
float:right;
}
.list_last li{
margin-bottom:12px;
}
.list_last > li > ul > li {
    color: red;
}
.form_last{
background:#f3f3f3;
line-height:34px;
height:34px;
color:#7b7b7b;
font-size:14px;
padding-left:5px;
display:block;
font-family: 'GothamProRegular';
width:100%;
border:1px solid #d5d5d5;
}

.for_sign{
display:block;
width:100%;
height:36px;
line-height:36px;
text-align:center;
color:#fff;
font-size:12px;
text-transform:uppercase;
background:#000;
font-family: 'GothamProMedium';
}
.for_sign:hover{
text-decoration:underline !important;
}




.sp_text_title{
background:url(../img/sp_text_title.png) no-repeat;
display:block;
text-align:center;
font-family: 'TimesItalic';
color:#000;
font-size:28px;
}

.hidden{
    display: none;
}

.slider-wrapper{
	width: 953px;
	position: relative;
}

.slider-wrapper .jcarousel-control{
	height: 55px;
	width: 28px;
	z-index: 100 !important;
	display: inline-block;
	position: absolute;
	top:270px;
}

.slider-wrapper .jcarousel-control-prev{
	background: rgba(0, 0, 0, 0) url("../img/left_arrow.png") no-repeat scroll 0 0;
	left:-20px;
}

.slider-wrapper .jcarousel-control-next{
	background: rgba(0, 0, 0, 0) url("../img/right_arrow.png") no-repeat scroll 0 0;
	right:-20px;
}

.big-carousel{
	position: relative;
	overflow: hidden;
	margin: 0 auto 10px;
	width: 903px;
}

.big-carousel ul{
	width: 20000em;
	position: relative;

	/* Optional, required in this case since it's a <ul> element */
	list-style: none;
	margin: 0;
	padding: 0;
}

.big-carousel li{
	float: left;
}


.small-carousel{
	position: relative;
	overflow: hidden;
	margin: 0 auto 20px;
	width: 590px;
}

.small-carousel ul{
	width: 20000em;
	position: relative;

	/* Optional, required in this case since it's a <ul> element */
	list-style: none;
	margin: 0;
	padding: 0;
}

.small-carousel li{
	float: left;
	background: #fff none repeat scroll 0 0;
	cursor: pointer;
	margin-left: 4px;
	padding: 3px;
	text-align: center;
	width: 49px;
}

.slider_small .jcarousel-control{
	height: 27px;
	width: 14px;
	/*z-index: 100 !important;*/
	/*display: inline-block;*/
	position: absolute;
	top:26px;
}

.slider_small .jcarousel-control-prev{
	background: transparent url("../img/blog-arrows.jpg") no-repeat scroll left top;
	left:-20px;
}

.slider_small .jcarousel-control-next{
	background: transparent url("../img/blog-arrows_r.jpg") no-repeat scroll right top;
	right:-20px;
}

p{
    color: #0a0a0a;
}

.video_wrapper{
    text-align: center;
}

/*-------FONTS-------*/

@font-face {
    font-family: 'GothamProMedium';
    src: url('gothapromed.eot');
    src: url('gothapromed.eot') format('embedded-opentype'),
         url('gothapromed.woff') format('woff'),
         url('gothapromed.ttf') format('truetype'),
         url('gothapromed.svg#GothamProMedium') format('svg');
}


@font-face {
    font-family: 'GothamProRegular';
    src: url('gothaproreg.eot');
    src: url('gothaproreg.eot') format('embedded-opentype'),
         url('gothaproreg.woff') format('woff'),
         url('gothaproreg.ttf') format('truetype'),
         url('gothaproreg.svg#GothamProRegular') format('svg');
}
@font-face {
    font-family: 'TimesItalic';
    src: url('times-it.eot');
    src: url('times-it.eot') format('embedded-opentype'),
         url('times-it.woff') format('woff'),
         url('times-it.ttf') format('truetype'),
         url('times-it.svg#TimesItalic') format('svg');
}
@font-face {
    font-family: 'TimesRegular';
    src: url('times-ro.eot');
    src: url('times-ro.eot') format('embedded-opentype'),
         url('times-ro.woff') format('woff'),
         url('times-ro.ttf') format('truetype'),
         url('times-ro.svg#TimesRegular') format('svg');
}

@font-face {
    font-family: 'PFAgoraSansProRegular';
    src: url('pfagorasanspro-reg.eot');
    src: url('pfagorasanspro-reg.eot') format('embedded-opentype'),
         url('pfagorasanspro-reg.woff') format('woff'),
         url('pfagorasanspro-reg.ttf') format('truetype'),
         url('pfagorasanspro-reg.svg#PFAgoraSansProRegular') format('svg');
}
@font-face {
    font-family: 'PFAgoraSansProLight';
    src: url('pfagorasanspro-light.eot');
    src: url('pfagorasanspro-light.eot') format('embedded-opentype'),
         url('pfagorasanspro-light.woff') format('woff'),
         url('pfagorasanspro-light.ttf') format('truetype'),
         url('pfagorasanspro-light.svg#PFAgoraSansProLight') format('svg');
}
@font-face {
    font-family: 'HelveticaInseratRegular';
    src: url('helve14.eot');
    src: url('helve14.eot') format('embedded-opentype'),
         url('helve14.woff') format('woff'),
         url('helve14.ttf') format('truetype'),
         url('helve14.svg#HelveticaInseratRegular') format('svg');
}



