{% extends '::baseCatalog.html.twig' %}
    {% block title %}
        {{ parent() }} >
        {{ page.title }}
    {% endblock %}
{% block body %}
    <div class="width_content">
        {% autoescape false %}{{ page.description }}{% endautoescape %}
    </div>
{% endblock %}