{% extends '::baseDashboard.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        {#<link href="{{ asset('/bundles/engine/pageBundle/css/zTree/zTreeStyle.css') }}" rel="stylesheet"/>#}
    {% endblock %}

 {% block body %}
     <div class="span12">
         <div class="widget">
             <div class="widget-header"><i class="icon-bookmark"></i>

                 <h3>Important Shortcuts</h3>
             </div>
             <!-- /widget-header -->
             <div class="widget-content">
                 <div class="shortcuts">
                     <a href="{{ path('engine_catalog_dashboard') }}" class="shortcut">
                         <i class="shortcut-icon icon-briefcase"></i>
                         <span class="shortcut-label">Catalog</span>
                     </a>
                     <a href="{{ path('engine_page_index') }}" class="shortcut">
                         <i class="shortcut-icon icon-list-alt"></i>
                         <span class="shortcut-label">Pages</span>
                     </a>
                     <a href="{{ path('engine_characteristic_dashboard') }}" class="shortcut">
                         <i class="shortcut-icon icon-signal"></i>
                         <span class="shortcut-label">Characteristics</span>
                     </a>
                     <a href="{{ path('engine_plan_dashboard_plan') }}" class="shortcut">
                         <i class="shortcut-icon icon-envelope"></i>
                         <span class="shortcut-label">Plans</span>
                     </a>
                     <a href="{{ path('engine_book_dashboard_book') }}" class="shortcut">
                         <i class="shortcut-icon icon-envelope"></i>
                         <span class="shortcut-label">Books</span>
                     </a>
                     <a href="{{ path('engine_user_dashboard_index') }}" class="shortcut">
                         <i class="shortcut-icon icon-user"></i>
                         <span class="shortcut-label">Users</span>
                     </a>
                     {#<a href="javascript:;" class="shortcut">#}
                         {#<i class="shortcut-icon icon-comment"></i>#}
                         {#<span class="shortcut-label">Comments</span>#}
                     {#</a>#}
                     {#<a href="javascript:;" class="shortcut">#}
                         {#<i class="shortcut-icon icon-user"></i>#}
                         {#<span class="shortcut-label">Users</span>#}
                     {#</a>#}
                     {#<a href="javascript:;" class="shortcut">#}
                         {#<i class="shortcut-icon icon-file"></i>#}
                         {#<span class="shortcut-label">Notes</span>#}
                     {#</a>#}
                     {#<a href="javascript:;" class="shortcut">#}
                         {#<i class="shortcut-icon icon-picture"></i>#}
                         {#<span class="shortcut-label">Photos</span>#}
                     {#</a>#}
                     {#<a href="javascript:;" class="shortcut">#}
                         {#<i class="shortcut-icon icon-tag"></i>#}
                         {#<span class="shortcut-label">Tags</span>#}
                     {#</a>#}
                 </div>
                 <!-- /shortcuts -->
             </div>
             <!-- /widget-content -->
         </div>
     </div>
 {% endblock %}
