{% extends '::baseBlog.html.twig' %}

 {% block body %}
     <h1>List blog categorys</h1>
     {% for category in categorys %}
         <div>
             <a href="{{ path('acme_blog_posts_by_category', {'id': category.id}) }}">
                 {{ category.name }}
             </a>
         </div>
         <div>
             <a href="{{ path('acme_blog_category_edit', {'id': category.id}) }}">Edit Category</a>
         </div>
         <br><br>
     {% endfor %}
     <br>
     <br>
     <div>
         <a href="{{ path('acme_blog_homepage') }}">
             main
         </a>
     </div>
     <br>
     <div>
         <a href="{{ path('acme_blog_category_create') }}">Add Category</a>
     </div>
 {% endblock %}
