{% extends '::baseBlog.html.twig' %}

 {% block body %}
     <h1>Last 10 posts</h1>
     {% for post in posts %}
         <div>
             <a href="{{ path('acme_blog_post_by_id', {'id': post.id}) }}">
                 {{ post.title }}
             </a>
         </div>
         <div>{{ post.description }}</div>
         <br><br>
     {% endfor %}
     {# display navigation for pages - paginator_navigator #}
     {% if posts|length > 0  %}
         {{ include('AcmeBlogBundle:Paginator:paginator_navigation.html.twig', {'paginator' : pagination}) }}
     {% endif %}
     <br>
     <br>
     <div>
         <a href="{{ path('acme_blog_post_categorys') }}">
             blog categories
         </a>
     </div>
 {% endblock %}
