{% extends '::baseBlog.html.twig' %}

 {% block body %}
     <div>{{ post.title }}</div>
     <br>
     <div>{{ post.text }}</div>
     <br>
     <div>{{ post.date|date("m/d/Y") }}</div>
     <br>
     <br>
     <div>
         <a href="{{ path('acme_blog_homepage') }}">
             main
         </a>
     </div>

     <br>
     <div>
         <a href="{{ path('acme_blog_posts_edit', {'id': post.id}) }}">Edit Post</a>
     </div>
     <div>
         <a href="{{ path('acme_blog_posts_create') }}">Add Post</a>
     </div>

 {% endblock %}

