{% extends '::baseBlog.html.twig' %}

 {% block body %}
     <h1>List posts in category {{ category.name }}</h1>
     {% if posts | length > 0 %}
         {% for post in posts %}
             <div>
                 <a href="{{ path('acme_blog_post_by_id', {'id': post.id}) }}">
                     {{ post.title }}
                 </a>
             </div>
             <br><br>
         {% endfor %}
     {% else %}
         In this category no posts
     {% endif %}
     <br>
     <br>
     <div>
         <a href="{{ path('acme_blog_homepage') }}">
             main
         </a>
     </div>
 {% endblock %}