<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    {% block stylesheets %}
        <link href="{{ asset('/dashboard/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/dashboard/css/bootstrap-responsive.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/dashboard/css/font-awesome.css') }}" rel="stylesheet"/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet"/>

        <link href="{{ asset('/dashboard/css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/dashboard/css/pages/signin.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="brand">
                Bootstrap Admin Template
            </a>

            <div class="nav-collapse">
                <ul class="nav pull-right">

                    <li class="">
                        <a href="{{ path('engine_engine_homepage') }}" class="">
                            <i class="icon-chevron-left"></i>
                            Back to Homepage
                        </a>

                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /container -->

    </div>
    <!-- /navbar-inner -->

</div>
<!-- /navbar -->


{% block body %}
{% endblock %}
</body>
</html>
