<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}Fpeople{% endblock %}
    </title>
    {% block stylesheets %}
        <link href="{{ asset('/bundles/engine/catalogBundle/product/css/reset.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/bundles/engine/catalogBundle/product/css/style.css') }}" rel="stylesheet"/>
        {#<link href="{{ asset('/bundles/engine/catalogBundle/product/css/nivo-slider.css') }}" rel="stylesheet"/>#}
        <!--[if lt IE 8]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img
                    src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                    alt=""/></a>
        </div>
        <![endif]-->
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="content-box">
    <div class="main">

        <div class="shadow_box">
            <div class="shadow_in">
            </div>
        </div>

        <!--==============================header=================================-->
        <header id="header" class="clearfix real_width">
            <div class="header_top clearfix">
                <ul class="menu_ht_left">
                    <li>
                        <a href="{{ path('engine_catalog_index_category', {'category': 'woman'}) }}">
                            Woman
                        </a>
                    </li>
                    <li>/</li>
                    <li>
                        <a href="{{ path('engine_catalog_index_category', {'category': 'man'}) }}">
                            Men
                        </a>
                    </li>
                </ul>
                <!--menu_ht-->
                <a class="logo" href="{{ path('engine_catalog_index_index') }}"></a>
                <ul class="menu_ht_right">
                    <li>
                        <a href="{{ path('engine_catalog_index_category', {'category': 'artists'}) }}">
                            Artists
                        </a>
                    </li>
                    <li>/</li>
                    <li>
                        <a href="{{ path('engine_catalog_index_category', {'category': 'talents'}) }}">
                            Talents
                        </a>
                    </li>
                </ul>
                <!--menu_ht-->
            </div>
            <!--header_top-->
            <div class="header_bottom clearfix">
                {% block searchCharacteristics %}
                {% endblock %}
                {#{{ searchOptions() }}#}
                <!--menu_hb-->
            </div>
            <!--header_bottom-->
        </header>
        <!--#header-->
        <!--==============================content================================-->
        <section id="content" class="real_width">
            {% block body %}
            {% endblock %}
        </section>
        <!--==============================footer=================================-->
        <footer id="footer">
            <div class="footer_in real_width">
                {{ getPage('footer').description | raw }}
                <!--list_footer-->
                <p>© {{ "now"|date("Y") }} FPEOPLE. All Rights Reserved.</p>
            </div>
            <!--footer_in-->
        </footer>
        <!--#footer-->
    </div>
</div>

<div class="hidden about_us">
    <a href="" class="close_span"></a>
    {{ getPage('about_us').description | raw }}
</div>

<div class="hidden contact_us">
    {{ render(controller('EngineFeedbackBundle:Index:feedback')) }}
</div>

<div class="hidden investor_relations">
    <a href="" class="close_span"></a>
    {{ getPage('investor_relations').description | raw }}
</div>

{% block javascripts %}
    <script src="{{ asset('/dashboard/js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ asset('/bundles/engine/catalogBundle/product/js/javascript.js') }}"></script>
    <script src="{{ asset('/bundles/engine/feedbackBundle/js/javascript.js') }}"></script>
    <script src="{{ asset('/bundles/engine/catalogBundle/product/js/search.js') }}"></script>
{% endblock %}
</body>
</html>
