<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>

    {% block stylesheets %}
        <link href="{{ asset('/dashboard/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/dashboard/css/bootstrap-responsive.min.css') }}" rel="stylesheet"/>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet"/>
        <link href="{{ asset('/dashboard/css/font-awesome.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/dashboard/css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/dashboard/css/grid/grid.css') }}" rel="stylesheet"/>
        <link href="{{ asset('/dashboard/css/pages/dashboard.css') }}" rel="stylesheet"/>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container"><a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                        class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </a><a
                    class="brand" href="index.html">Admin Area </a>

            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li>
                        <a href="{{ path('login') }}">
                            <i class="icon-cog"></i> Account
                        </a>
                    </li>
                </ul>
                {#<form class="navbar-search pull-right">#}
                {#<input type="text" class="search-query" placeholder="Search">#}
                {#</form>#}
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li{% if (app.request.getPathInfo  == path('engine_engine_homepage')) %} class="active"{% endif %}>
                    <a href="{{ path('engine_engine_homepage') }}">
                        <i class="icon-dashboard"></i><span>Dashboard</span>
                    </a>
                </li>
                <li{% if (app.request.getPathInfo  == path('engine_catalog_dashboard')) %} class="active"{% endif %}>
                    <a href="{{ path('engine_catalog_dashboard') }}">
                        <i class="icon-briefcase"></i>
                        <span>Catalog</span>
                    </a>
                </li>

                <li{% if (app.request.getPathInfo  == path('engine_page_index')) %} class="active"{% endif %}>
                    <a href="{{ path('engine_page_index') }}">
                        <i class="icon-list-alt"></i>
                        <span>Pages</span>
                    </a>
                </li>

                <li{% if (app.request.getPathInfo  == path('engine_characteristic_dashboard')) %} class="active"{% endif %}>
                    <a href="{{ path('engine_characteristic_dashboard') }}">
                        <i class="icon-signal"></i>
                        <span>Characteristics</span>
                    </a>
                </li>

                <li{% if (app.request.getPathInfo  == path('engine_plan_dashboard_plan')) %} class="active"{% endif %}>
                    <a href="{{ path('engine_plan_dashboard_plan') }}">
                        <i class="icon-envelope"></i>
                        <span>Plans</span>
                    </a>
                </li>

                <li{% if (app.request.getPathInfo  == path('engine_book_dashboard_book')) %} class="active"{% endif %}>
                    <a href="{{ path('engine_book_dashboard_book') }}">
                        <i class="icon-envelope"></i>
                        <span>Books</span>
                    </a>
                </li>

                <li{% if (app.request.getPathInfo  == path('engine_user_dashboard_index')) %} class="active"{% endif %}>
                    <a href="{{ path('engine_user_dashboard_index') }}">
                        <i class="icon-user"></i>
                        <span>Users</span>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-long-arrow-down"></i>
                        <span>Drops</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="error.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="extra">
    <div class="extra-inner">
        <div class="container">
            <div class="row">
                {#<div class="span3">#}
                {#<h4>#}
                {#About Free Admin Template</h4>#}
                {#<ul>#}
                {#<li><a href="javascript:;">EGrappler.com</a></li>#}
                {#<li><a href="javascript:;">Web Development Resources</a></li>#}
                {#<li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>#}
                {#<li><a href="javascript:;">Free Resources and Scripts</a></li>#}
                {#</ul>#}
                {#</div>#}
                <!-- /span3 -->
                <div class="span3">
                    <h4>
                        Support</h4>
                    <ul>
                        <li><a href="javascript:;">Frequently Asked Questions</a></li>
                        <li><a href="javascript:;">Ask a Question</a></li>
                        <li><a href="javascript:;">Video Tutorial</a></li>
                        <li><a href="javascript:;">Feedback</a></li>
                    </ul>
                </div>
                <!-- /span3 -->
                {#<div class="span3">#}
                {#<h4>#}
                {#Something Legal</h4>#}
                {#<ul>#}
                {#<li><a href="javascript:;">Read License</a></li>#}
                {#<li><a href="javascript:;">Terms of Use</a></li>#}
                {#<li><a href="javascript:;">Privacy Policy</a></li>#}
                {#</ul>#}
                {#</div>#}
                <!-- /span3 -->
                {#<div class="span3">#}
                {#<h4>#}
                {#Open Source jQuery Plugins</h4>#}
                {#<ul>#}
                {#<li><a href="http://www.egrappler.com">Open Source jQuery Plugins</a></li>#}
                {#<li><a href="http://www.egrappler.com;">HTML5 Responsive Tempaltes</a></li>#}
                {#<li><a href="http://www.egrappler.com;">Free Contact Form Plugin</a></li>#}
                {#<li><a href="http://www.egrappler.com;">Flat UI PSD</a></li>#}
                {#</ul>#}
                {#</div>#}
                <!-- /span3 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /extra-inner -->
</div>
<!-- /extra -->
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; {{ "now"|date("Y") }} <a
                            href="http://www.webcreator.kiev.ua/">webcreator</a>.
                </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>
{% block javascripts %}
    <script src="{{ asset('/dashboard/js/jquery-1.7.2.min.js') }}"></script>
    <script src="{{ asset('/dashboard/js/excanvas.min.js') }}"></script>
    <script src="{{ asset('/dashboard/js/bootstrap.js') }}"></script>
    <script src="{{ asset('/dashboard/js/base.js') }}"></script>
{% endblock %}
</body>
</html>
