<a href="" class="close_span"></a>
<span class="no_follow_logo"></span>
<span class="double_separator"></span>

<p class="sp_text">Contact us</p>

<ul class="list_last">
    <li>
        {{ form_widget(form.name, { 'attr': {'class': 'form_last', 'data-default':'Name'} }) }}
        {{ form_errors(form.name) }}
    </li>
    <li>
        {{ form_widget(form.phone, { 'attr': {'class': 'form_last', 'data-default':'Phone'} }) }}
        {{ form_errors(form.phone) }}
    </li>
    <li>
        {{ form_widget(form.message, { 'attr': {'class': 'form_last', 'style' : 'height:100px', 'data-default':'Message'} }) }}
        {{ form_errors(form.message) }}
    </li>
    <li>
        {{ form_widget(form._token) }}
    </li>
    <li><a class="for_sign send_message" href="#" data-action="{{ path('engine_feedback_send') }}">Send</a></li>
</ul>
{{ form_errors(form) }}

