{% extends '::baseDashboard.html.twig' %}

 {% block body %}

     <div class="span12">

     <div class="widget ">

         <div class="widget-header">
             <i class="icon-user"></i>

             <h3>User Dashboard</h3>
         </div>
         <div class="widget-content">

             <div class="tabbable">
                 <ul class="nav nav-tabs">
                     <li class="active">
                         <a href="#formcontrols" data-toggle="tab">Form Controls</a>
                     </li>
                 </ul>

                 <br>

                 <div class="tab-content">
                     <div class="tab-pane active" id="formcontrols">
                         {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                         <fieldset>

                             <div class="control-group">
                                 {{ form_label(form.username, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                 <div class="controls">
                                     {{ form_widget(form.username, { 'attr': {'class': 'span6'} }) }}
                                     {{ form_errors(form.username) }}
                                 </div>
                             </div>

                             <div class="control-group">
                                 {{ form_label(form.email, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                 <div class="controls">
                                     {{ form_widget(form.email, { 'attr': {'class': 'span6'} }) }}
                                     {{ form_errors(form.email) }}
                                 </div>
                             </div>

                             <div class="control-group">
                                 {{ form_label(form.password, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                 <div class="controls">
                                     {{ form_widget(form.password, { 'attr': {'class': 'span6 tiny'} }) }}
                                     {{ form_errors(form.password) }}
                                 </div>
                             </div>

                             <div class="control-group">
                                 {{ form_label(form.active, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                 <div class="controls">
                                     {{ form_widget(form.active, { 'attr': {'class': 'span6'} }) }}
                                     {{ form_errors(form.active) }}
                                 </div>
                             </div>


                             <div class="form-actions">
                                 {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                                 {#<button type="submit" class="btn btn-primary">Save</button>#}
                                 <button class="btn">Cancel</button>
                             </div>
                         </fieldset>
                         {{ form_end(form) }}
                     </div>
                 </div>
             </div>
         </div>
         <!-- /widget-content -->
     </div>
     <!-- /widget -->
 {% endblock %}