{% extends '::baseDashboard.html.twig' %}
 {% block body %}
     <div class="span12">

         <div class="widget ">

             <div class="widget-header">
                 <h3>Users Dashboard</h3>
             </div>
             <div class="widget-content">
                 {% for user in users %}
                     <p>
                         <a href="{{ path('engine_user_dashboard_editUser', {'id':user.id}) }}">
                             {{ user.username }}&nbsp;&nbsp;{{ user.email }}
                         </a>
                         &nbsp;
                         <a href="{{ path('engine_user_dashboard_deleteUser', {'id':user.id}) }}">
                             delete
                         </a>
                     </p>
                 {% endfor %}
                 <a class="btn btn-small" href="{{ path('engine_user_dashboard_createUser') }}">Create</a>
             </div>
         </div>
     </div>
 {% endblock %}
