{% extends '::baseDashboard.html.twig' %}
 {% block body %}
     <div class="span12">

         <div class="widget ">

             <div class="widget-header">
                 <h3>Users Dashboard</h3>
             </div>
             <div class="widget-content">
                 {{ grid(grid) }}
                 <a class="btn btn-small" href="{{ path('engine_user_dashboard_createUser') }}">Create</a>
             </div>
         </div>
     </div>
 {% endblock %}
