{% extends 'EngineLayoutBundle::layout.html.twig' %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        {{ page_breadcrumbs(page.id) }}
    </div>

    <h2>{{ page.title }}</h2>

    {{ page.content|raw }}
{% endblock %}
