{% extends '::baseCatalog.html.twig' %}
{% block title %}
    {{ parent() }}
    >
    {{ category.systemName }}
{% endblock %}
{% block searchCharacteristics %}
    {{ searchOptions(request, categoryAlias) }}
{% endblock %}
{% block body %}
    <div class="width_content">
        <div class="people_block clearfix">

            <div class="title_paeople">
                {% if app.request.attributes.get('_route') == 'engine_catalog_index_gender' %}
                    <p>{{ option.title }}<span>{{ products|length }}</span></p>
                {% endif %}
                {% if app.request.attributes.get('_route') == 'engine_catalog_index_category' %}
                    <p>{{ category.systemName }}<span>{{ products|length }}</span></p>
                {% endif %}

            </div>
            <!--title_paeople-->
            <ul class="people_list clearfix">
                {% for key, product in products %}
                    <li{% if key|division(6) == 0 %} class="margin_r"{% endif %}>
                        <a href="{{ path('engine_catalog_index_alias', {'alias': product.alias}) }}">
                            {% if product.getCharacteristicValueBySystemName('image').value %}
                                <img src={{ imageSrc({'id':product.getCharacteristicValueBySystemName('image').value.id, 'rule':'small_image'}) }} alt=""/>
                            {% endif %}
                            <p>{{ product.getCharacteristicValueBySystemName('name').value }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <!--people_list-->
        </div>
    </div>
    <!--people_block-->
    </div><!--width_content-->
    <!--content-->
{% endblock %}
