{% extends '::baseCatalog.html.twig' %}
    {% block title %}
        {{ parent() }} >
        search
    {% endblock %}
{% block body %}
    <div class="width_content">
        {% if products %}
            <div class="people_block clearfix">
                <div class="title_paeople">
                    <p>Search result<span>{{ products|length }}</span></p>
                    <a class="view" href="#">view all</a>
                </div>
                <!--title_paeople-->
                <ul class="people_list clearfix">
                    {% for key, product in products %}
                        <li{% if key|division(6) == 0 %} class="margin_r"{% endif %}>
                            <a href="{{ path('engine_catalog_index_alias', {'alias': product.alias}) }}">
                                {% if product.getCharacteristicValueBySystemName('image').value %}
                                    <img src={{ imageSrc({'id':product.getCharacteristicValueBySystemName('image').value.id, 'rule':'small_image'}) }} alt=""/>
                                {% endif %}
                                <p>
                                    {{ product.getCharacteristicValueBySystemName('name').value }}
                                </p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <!--people_list-->
            </div>
        {% endif %}

    </div><!--width_content-->
    <!--content-->
{% endblock %}
