{% extends '::baseCatalog.html.twig' %}

    {% block title %}
        {{ parent() }} >
        {{ product.getCharacteristicValueBySystemName('name').value }}
    {% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('/bundles/engine/catalogBundle/product/css/nivo-slider.css') }}" rel="stylesheet"/>
    {% endblock %}

{% block body %}

    <div class="width_content">
        <div class="title_for_slider">
            <h1>{{ product.getCharacteristicValueBySystemName('name').value }}</h1>
            <ul class="tfs_list clearfix">
                {{ viewOptions(product) | raw }}
                {#{% if product.getCharacteristicValueBySystemName('heightView') and product.getCharacteristicValueBySystemName('heightView').value is not empty %}#}
                    {#<li>#}
                        {#<span>Height:</span>{{ product.getCharacteristicValueBySystemName('heightView').value.viewName }}#}
                    {#</li>#}
                {#{% endif %}#}
                {#{% if product.getCharacteristicValueBySystemName('bustView')#}
                {#and product.getCharacteristicValueBySystemName('bustView').value is not empty#}
                {#and product.getCharacteristicValueBySystemName('bustView').value.viewName != 'none' %}#}
                    {#<li>/</li>#}
                    {#<li><span>Bust:</span>{{ product.getCharacteristicValueBySystemName('bustView').value.viewName }}#}
                    {#</li>#}
                {#{% endif %}#}
                {#{% if product.getCharacteristicValueBySystemName('waistView') and product.getCharacteristicValueBySystemName('waistView').value is not empty %}#}
                    {#<li>/</li>#}
                    {#<li><span>Waist:</span>{{ product.getCharacteristicValueBySystemName('waistView').value.viewName }}#}
                    {#</li>#}
                {#{% endif %}#}
                {#{% if product.getCharacteristicValueBySystemName('hipsView') and product.getCharacteristicValueBySystemName('hipsView').value is not empty %}#}
                    {#<li>/</li>#}
                    {#<li><span>Hips:</span>{{ product.getCharacteristicValueBySystemName('hipsView').value.viewName }}#}
                    {#</li>#}
                {#{% endif %}#}
                {#{% if product.getCharacteristicValueBySystemName('hair') and product.getCharacteristicValueBySystemName('hair').value is not empty %}#}
                    {#<li>/</li>#}
                    {#<li><span>Hair:</span>{{ product.getCharacteristicValueBySystemName('hair').value.viewName }}#}
                    {#</li>#}
                {#{% endif %}#}
                {#{% if product.getCharacteristicValueBySystemName('location') and product.getCharacteristicValueBySystemName('location').value is not empty %}#}
                    {#<li>/</li>#}
                    {#<li>#}
                        {#<span>Location:</span>{{ product.getCharacteristicValueBySystemName('location').value.viewName }}#}
                    {#</li>#}
                {#{% endif %}#}
            </ul>
            <!--tfs_list-->
        </div>
        <!--title_for_slider-->
        <div class="slider_part">
            <div class="slider-wrapper clearfix">
                <div class="big-carousel">
                    {% if product.getCharacteristicValueBySystemName('images_carousel') %}
                        <ul>
                            {% for key, image in product.getCharacteristicValueBySystemName('images_carousel').multifile %}
                                <li>
                                    <img src="{{ imageSrc({'id':image.id, 'rule':'slider_big'}) }}" alt=""
                                         title="#caption{{ key+1 }}"/>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="nivo-caption">
                        <div class="inf_slider clearfix">
                            <a data-link="book" class="link" href="">book now</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="jcarousel-control jcarousel-control-prev"></a>
                <a href="#" class="jcarousel-control jcarousel-control-next"></a>
            </div>
            {#<div style="display:none;">#}
                {#{% if product.getCharacteristicValueBySystemName('images_carousel') %}#}
                    {#{% for key, image in product.getCharacteristicValueBySystemName('images_carousel').multifile %}#}
                        {#<div id="caption{{ key+1 }}">#}
                            {#<div class="inf_slider clearfix">#}
                                {#<a href="" class="link" data-link="book">book now</a>#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#{% endif %}#}
            {#</div>#}
        </div>
        <!--slider_part-->
        <div class="slider_small">
            {#<div id="wrapper">#}
                <div id="wrapper" class="d-carousel small-carousel">
                    <ul>
                        {% if product.getCharacteristicValueBySystemName('images_carousel') %}
                            {% for key, image in product.getCharacteristicValueBySystemName('images_carousel').multifile %}
                                <li>
                                    {#<a href="#">#}
                                        <div class="for_img_slider">
                                            {#<a href="#">#}
                                                <img src="{{ imageSrc({'id':image.id, 'rule':'slider_preview'}) }}"
                                                     alt=""
                                                     width="49" height="65"/>
                                            {#</a>#}
                                        </div>
                                    {#</a>#}
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <!--carousel-->
                </div>
                <a href="#" class="jcarousel-control jcarousel-control-prev"></a>
                <a href="#" class="jcarousel-control jcarousel-control-next"></a>
                <!--d-carousel-->
                <div class="clear"></div>
            {#</div>#}
            <!--#wrapper-->
        </div>
        <!--slider_small-->
        <ul class="network_list clearfix">
            <li><a href="#"><img src="/bundles/engine/catalogBundle/product/img/net1.png" alt=""/></a></li>
            <li><a href="#"><img src="/bundles/engine/catalogBundle/product/img/net2.png" alt=""/></a></li>
            <li><a href="#"><img src="/bundles/engine/catalogBundle/product/img/net3.png" alt=""/></a></li>
        </ul>
        <!--metwork_list-->
        <div class="polaroid_block clearfix">
            <ul class="list_polaroid clearfix show_toggle">
                {% if product.getCharacteristicValueBySystemName('video') and product.getCharacteristicValueBySystemName('video').value is not empty %}
                    <li><a data-item="video_wrapper">video</a></li>
                {% endif %}
                {% if product.getCharacteristicValueBySystemName('polaroid') %}
                    {% if product.getCharacteristicValueBySystemName('polaroid').multifile|length > 0 %}
                        <li><a data-item="polaroid_wrapper">polaroids</a></li>
                    {% endif %}
                {% endif %}

                {% if product.getCharacteristicValueBySystemName('biography') and product.getCharacteristicValueBySystemName('biography').value is not empty %}
                    <li><a data-item="biography_wrapper">biography</a></li>
                {% endif %}
            </ul>

            {#video#}
            {% if product.getCharacteristicValueBySystemName('video') %}
                <div class="video_wrapper hidden toggle">
                    {{ product.getCharacteristicValueBySystemName('video').value | raw }}
                </div>
            {% endif %}

            <!--list_polaroid-->
            {% if product.getCharacteristicValueBySystemName('polaroid') %}
                <div class="polaroid_wrapper hidden toggle">
                    <ul class="all_polaroid clearfix">

                        {% for key, image in product.getCharacteristicValueBySystemName('polaroid').multifile %}
                            <li{% if(isInteger((key+1)/3)) %} class="margin_r"{% endif %}>
                                {#<a href="#">#}
                                    <img src="{{ imageSrc({'id':image.id, 'rule':'polaroid'}) }}" alt=""/>
                                {#</a>#}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <!--all_polaroid-->
            {#biography#}
            {% if product.getCharacteristicValueBySystemName('biography') and product.getCharacteristicValueBySystemName('biography').value is not empty %}
                <div class="biography_wrapper hidden toggle">
                    {{ product.getCharacteristicValueBySystemName('biography').value | raw }}
                </div>
            {% endif %}
        </div>
        <!--polaroid_block-->
    </div><!--width_content-->

    <div class="hidden book" data-product="{{ product.id }}">
        {{ render(controller('EngineBookBundle:Book:book')) }}
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('/bundles/engine/catalogBundle/product/js/show.js') }}"></script>
        {#<script src="{{ asset('/bundles/engine/catalogBundle/product/js/jquery.nivo.slider.pack.js') }}"></script>#}
        {#<script src="{{ asset('/bundles/engine/catalogBundle/product/js/jquery.nivo.slider.js') }}"></script>#}
        <script src="{{ asset('/bundles/engine/catalogBundle/product/js/jcarousel.connected-carousels.js') }}"></script>
        <script src="{{ asset('/bundles/engine/catalogBundle/product/js/jquery.jcarousel.js') }}"></script>
        <script src="{{ asset('/bundles/engine/catalogBundle/product/js/product.js') }}"></script>
        <script src="{{ asset('/bundles/engine/bookBundle/js/javascript.js') }}"></script>
    {% endblock %}
