<li>
    {{ form_widget(form.name, { 'attr': {'class': 'form_last'} }) }}
    {% if form_errors(form.name) %}
        <div style="color: red; text-align: center;">
            {{ form_errors(form.name) }}
        </div>
    {% endif %}
</li>
<li>
    {{ form_widget(form.email, { 'attr': {'class': 'form_last'} }) }}
    {% if form_errors(form.email) %}
        <div style="color: red; text-align: center;">
            {{ form_errors(form.email) }}
        </div>
    {% endif %}
</li>
<li>
    {{ form_widget(form._token) }}
</li>
<li><a class="for_sign" href="#" data-action="{{ path('engine_book_book_create') }}">Sign up</a></li>


{{ form_errors(form) }}