<a href="" class="close_span"></a>
<span class="no_follow_logo"></span>
<span class="double_separator"></span>

<p class="sp_text">To book this model online please fill the form below</p>

<ul class="list_last">
    <li>
        {{ form_widget(form.name, { 'attr': {'class': 'form_last', 'data-default':'Name'} }) }}
        {{ form_errors(form.name) }}
    </li>
    <li>
        {{ form_widget(form.email, { 'attr': {'class': 'form_last', 'data-default':'Email'} }) }}
        {{ form_errors(form.email) }}
    </li>
    <li>
        {{ form_widget(form._token) }}
    </li>
    <li><a class="for_sign send_book" href="#" data-action="{{ path('engine_book_book_create') }}">Send</a></li>
</ul>
{{ form_errors(form) }}

