<li>
    {{ form_widget(form.username, { 'attr': {'class': 'form_last'} }) }}
    {% if form_errors(form.username) %}
        <div style="color: red; text-align: center;">
            {{ form_errors(form.username) }}
        </div>
    {% endif %}
</li>
<li>
    {{ form_widget(form.email, { 'attr': {'class': 'form_last'} }) }}
    {% if form_errors(form.email) %}
        <div style="color: red; text-align: center;">
            {{ form_errors(form.email) }}
        </div>
    {% endif %}
</li>
<li>
    {{ form_widget(form.password, { 'attr': {'class': 'form_last'} }) }}
    {% if form_errors(form.password) %}
        <div style="color: red; text-align: center;">
            {{ form_errors(form.password) }}
        </div>
    {% endif %}
</li>
<li>
    {{ form_widget(form._token) }}
</li>
<li><a class="for_sign" href="#" data-action="{{ path('engine_plan_plan_create') }}">Sign up</a></li>


{{ form_errors(form) }}