{% extends '::baseCatalog.html.twig' %}
    {% block title %}
        {{ parent() }} >
        plan
    {% endblock %}
{% block body %}
    <div class="width_content">
        <ul class="girl_list clearfix">
            <li><a href="#"><img src="/bundles/engine/catalogBundle/product/img/girl1.jpg" width="190" alt=""/></a></li>
            <li><a href="#"><img src="/bundles/engine/catalogBundle/product/img/girl2.jpg" width="190" alt=""/></a></li>
            <li><a href="#"><img src="/bundles/engine/catalogBundle/product/img/girl3.jpg" width="190" alt=""/></a></li>
            <li><a href="#"><img src="/bundles/engine/catalogBundle/product/img/girl4.jpg" width="190" alt=""/></a></li>
            <li><a href="#"><img src="/bundles/engine/catalogBundle/product/img/girl5.jpg" width="190" alt=""/></a></li>
        </ul>
        <!--girl_list-->
        <div class="title_for_slider">
            <h1>Choose the plan that best fits your needs</h1>
        </div>
        <!--title_for_slider-->
        <div class="price_block clearfix">
            <ul class="basic_list clearfix ld">
                <li class="title_basic">basic</li>
                <li class="amount_basic">
                    <p>15 photos</p>
                    <span>$200/month</span>
                </li>
                <li class="brd_basic">Blogging & Landing Pages</li>
                <li class="brd_basic">E-mail Marketing</li>
                <li class="black_basic"><a href="#" data-plan="basic">get started</a></li>
            </ul>
            <!--basic_list-->
            <ul class="basic_list clearfix ld">
                <li class="title_basic">pro</li>
                <li class="amount_basic">
                    <p>30 photos</p>
                    <span>$350/month</span>
                </li>
                <li class="brd_basic">Social Inbox</li>
                <li class="brd_basic">Advanced Reporting</li>
                <li class="black_basic"><a href="#" data-plan="pro">get started</a></li>
            </ul>
            <!--basic_list-->
            <ul class="basic_list clearfix margin_r ld">
                <li class="title_basic">premium</li>
                <li class="amount_basic">
                    <p>50 photos</p>
                    <span>$550/month</span>
                </li>
                <li class="brd_basic">Custom Events</li>
                <li class="brd_basic">Smart Content</li>
                <li class="black_basic"><a href="#" data-plan="premium">get started</a></li>
            </ul>
            <!--basic_list-->
        </div>
        <!--price_block-->
    </div><!--width_content-->

    <div class="hidden formContainer">
        <a href="" class="close_span"></a>
        <span class="no_follow_logo"></span>
        <span class="double_separator"></span>

        <p class="sp_text">Sign up with a social network</p>
        <ul class="for_plus clearfix">
            <li class="f1"><a href="#"></a></li>
            <li class="g1"><a href="#"></a></li>
        </ul>
        <!--for_plus-->
        <span class="double_separator"></span>

        <p class="sp_text">Or create a Fpeople account</p>
        <ul class="list_last">
            <li>
                {{ form_widget(form.username, { 'attr': {'class': 'form_last'} }) }}
                {{ form_errors(form.username) }}
            </li>
            <li>
                {{ form_widget(form.email, { 'attr': {'class': 'form_last'} }) }}
                {{ form_errors(form.email) }}
            </li>
            <li>
                {{ form_widget(form.password, { 'attr': {'class': 'form_last'} }) }}
                {{ form_errors(form.password) }}
            </li>
            <li>
                {{ form_widget(form._token) }}
            </li>
            <li><a class="for_sign" href="#" data-action="{{ path('engine_plan_plan_create') }}">Sign up</a></li>
        </ul>
        <!--list_last-->
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('/bundles/engine/planBundle/js/javascript.js') }}"></script>
    {% endblock %}