{% extends '::baseDashboardBlog.html.twig' %}

 {% block body %}
     {% if success != true %}
         {{ form_start(form) }}
         {{ form_widget(form.id) }}
         <div>
             {{ form_label(form.title) }}
             {{ form_errors(form.title) }}
             {{ form_widget(form.title) }}
         </div>
         <div>
             {{ form_label(form.description) }}
             {{ form_errors(form.description) }}
             {{ form_widget(form.description) }}
         </div>
         <div>
             {{ form_label(form.text) }}
             {{ form_errors(form.text) }}
             {{ form_widget(form.text) }}
         </div>
         <div>
             {{ form_label(form.metaTitle) }}
             {{ form_errors(form.metaTitle) }}
             {{ form_widget(form.metaTitle) }}
         </div>
         <div>
             {{ form_label(form.metaDescription) }}
             {{ form_errors(form.metaDescription) }}
             {{ form_widget(form.metaDescription) }}
         </div>
         <div>
             {{ form_label(form.metaKeywords) }}
             {{ form_errors(form.metaKeywords) }}
             {{ form_widget(form.metaKeywords) }}
         </div>
         <div>
             {{ form_label(form.categoryId) }}
             {{ form_errors(form.categoryId) }}
             {{ form_widget(form.categoryId) }}
         </div>
         <div>
             {{ form_widget(form.save) }}
         </div>
         {{ form_end(form) }}
     {% else %}
         post was updated
     {% endif %}
 {% endblock %}
