{% extends '::baseDashboardBlog.html.twig' %}

 {% block body %}
     {% if success != true %}
         {{ form_start(form) }}
         {{ form_widget(form.id) }}
         <div>
             {{ form_label(form.name) }}
             {{ form_errors(form.name) }}
             {{ form_widget(form.name) }}
         </div>
         <div>
             {{ form_widget(form.save) }}
         </div>
         {{ form_end(form) }}
     {% else %}
         category was updated
     {% endif %}
 {% endblock %}
