{% extends '::baseDashboard.html.twig' %}
 {% block body %}
     <div class="span12">

         <div class="widget ">

             <div class="widget-header">
                 <h3>Plans Dashboard</h3>
             </div>
             <div class="widget-content">
                 {% for plan in plans %}
                     <p>
                         {{ plan.username }}&nbsp;{{ plan.email }}&nbsp;{{ plan.plan }}
                     </p>
                 {% endfor %}
             </div>
         </div>
     </div>
 {% endblock %}
