{% extends '::baseDashboard.html.twig' %}

 {% block body %}

     <div class="span12">

     <div class="widget ">

         <div class="widget-header">
             <i class="icon-user"></i>

             <h3>Characteristic Option Dashboard</h3>
         </div>
         <div class="widget-content">

             <div class="tabbable">
                 <ul class="nav nav-tabs">
                     <li class="active">
                         <a data-toggle="tab" href="#tab1">Characteristic option</a>
                     </li>
                 </ul>
                 <br>
                 {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                 <div class="tab-content">

                     <div class="tab-pane active" id="tab1">

                         <fieldset>

                             <div class="control-group">
                                 {{ form_label(form.title, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                 <div class="controls">
                                     {{ form_widget(form.title, { 'attr': {'class': 'span6'} }) }}
                                     {{ form_errors(form.title) }}
                                 </div>
                             </div>

                             <div class="control-group">
                                 {{ form_label(form.viewName, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                 <div class="controls">
                                     {{ form_widget(form.viewName, { 'attr': {'class': 'span6'} }) }}
                                     {{ form_errors(form.viewName) }}
                                 </div>
                             </div>

                             <div class="control-group">
                                 {{ form_label(form.publish, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                 <div class="controls">
                                     {{ form_widget(form.publish, { 'attr': {'class': 'span6'} }) }}
                                     {{ form_errors(form.publish) }}
                                 </div>
                             </div>


                         </fieldset>

                     </div>
                     <div class="form-actions">
                         {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                         <button class="btn">Cancel</button>
                     </div>

                 </div>
                 {{ form_end(form) }}
             </div>
         </div>
         <!-- /widget-content -->
     </div>
     <!-- /widget -->
 {% endblock %}