{% extends '::baseDashboard.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('/dashboard/css/zTree/zTreeStyle.css') }}" rel="stylesheet"/>
    {% endblock %}

 {% block body %}
     <div class="span12">
         <div id="target-1" class="widget">
             <div class="widget-content">
                 <h1>Characteristic Options Dashboard</h1>

                 <p>
                 <ul id="tree" class="ztree" style="width:260px; overflow:auto;"></ul>
                 </p>
                 <a class="btn btn-small"
                    href="{{ path('engine_characteristic_options_dashboard_create', {'id': characteristic.id}) }}">
                     Create Characteristic Option
                 </a>
             </div>

         </div>

     </div>

     <a href="{{ path('engine_catalog_get_characteristics_options_ajax', {'id': characteristic.id}) }}" class="getAjaxData"></a>
     <a href="{{ path('engine_catalog_update_characteristics_options_ajax') }}" class="updateAjaxData"></a>
     <a href="{{ path('engine_catalog_publish_characteristic_options_ajax') }}" class="changePublishAjax"></a>
 {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('/bundles/engine/catalogBundle/js/javascriptCharacteristicOptions.js') }}"></script>
        <script src="{{ asset('/dashboard/js/zTree/jquery.ztree.core-3.5.js') }}"></script>
        <script src="{{ asset('/dashboard/js/zTree/jquery.ztree.excheck-3.5.js') }}"></script>
        <script src="{{ asset('/dashboard/js/zTree/jquery.ztree.exedit-3.5.js') }}"></script>
        <script type="text/javascript">characteristicOptionsTree()</script>
    {% endblock %}

