{% extends '::baseDashboard.html.twig' %}
 {% block body %}
     <div class="span12">

         <div class="widget ">

             <div class="widget-header">
                 <h3>Books Dashboard</h3>
             </div>
             <div class="widget-content">
                 {% for item in books %}
                     <p>
                         {{ item.name }}&nbsp;{{ item.email }}&nbsp;{{ item.product.id }}&nbsp;{{ item.product.alias }}
                     </p>
                 {% endfor %}
             </div>
         </div>
     </div>
 {% endblock %}
