{% extends '::baseDashboardLogin.html.twig' %}

 {% block body %}
     <div class="account-container">

         <div class="content clearfix">

             <form action="{{ path('login_check') }}" method="post">

                 <h1>Admin Login</h1>

                 <div class="login-fields">

                     <p>Please provide your details</p>

                     <div class="field">
                         <label for="username">Username</label>
                         <input type="text" id="username" name="_username" value="{{ last_username }}"
                                placeholder="Username"
                                class="login username-field"/>
                     </div>
                     <!-- /field -->

                     <div class="field">
                         <label for="password">Password:</label>
                         <input type="password" id="password" name="_password" value="" placeholder="Password"
                                class="login password-field"/>
                     </div>
                     <!-- /password -->

                     <div class="field" style="text-align:center;">
                         <p>{{ message }}</p>
                     </div>

                 </div>
                 <!-- /login-fields -->

                 <div class="login-actions">
                     {% if last_username %}
                         <a class="button btn btn-success btn-large" href="{{ path('acme_user_logout') }}">Logout</a>
                     {% else %}
                         <button class="button btn btn-success btn-large" type="submit">login</button>
                     {% endif %}

                 </div>


             </form>

         </div>

     </div> <!-- /account-container -->
 {% endblock %}
