{% extends '::baseDashboard.html.twig' %}

 {% block body %}

<div class="span12">

    <div class="widget ">

        <div class="widget-header">
            <i class="icon-user"></i>

            <h3>Product Dashboard</h3>
        </div>
        <div class="widget-content">

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#product">Product</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#characteristics">Characteristics</a>
                    </li>
                </ul>
                <br>
                {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                <div class="tab-content">
                    <div class="tab-pane active" id="product">
                        <fieldset>
                            <div class="control-group">
                                {{ form_label(form.alias, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.alias, { 'attr': {'class': 'span6'} }) }}
                                    {{ form_errors(form.alias) }}
                                </div>
                            </div>

                            <div class="control-group">
                                {{ form_label(form.publish, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.publish) }}
                                    {{ form_errors(form.publish) }}
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="tab-pane" id="characteristics">
                        <fieldset>
                            {% for characteristic in form.characteristics %}

                                {#hidden field for files#}
                                {% if "hidden" in characteristic.vars.block_prefixes %}
                                    {{ form_widget(characteristic) }}
                                    {{ form_errors(characteristic) }}
                                    {% set data = characteristic.vars.name|split('_') %}
                                    {#check is file#}
                                    {% if data.1 == "file" %}
                                        <div class="control-group">
                                            <div class="controls">
                                                <img src="{{ imageSrc({'id':characteristic.vars.value, 'rule':'resize_rule'}) }}"/>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {#check is multifile#}
                                    {% if data.1 == "multifile" %}
                                        <div class="control-group">
                                            <div class="controls">
                                                {% for fileId in multifile({'characteristicValue':characteristic.vars.value}) %}
                                                    <div style="display: inline-block">
                                                        <div>
                                                            <img src="{{ imageSrc({'id':fileId, 'rule':'resize_rule'}) }}"/>
                                                        </div>
                                                        <div>
                                                            <a class="ajaxRemoveFile"
                                                               href="{{ path('engine_file_dashboard_remove', {'id': fileId}) }}">
                                                                delete
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}

                                {% else %}
                                    <div class="control-group">
                                        {{ form_label(characteristic, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                        <div class="controls">
                                            {% for key, char in characteristic.vars.attr %}

                                                {% if key=='html5upload' and product %}
                                                    {% set data = characteristic.vars.name|split('_') %}
                                                    <a class="uploadUrl"
                                                       href="{{ path(
                                                       'engine_catalog_dashboard_upload_file',
                                                       {'productId': product.id, 'characteristicId': data.0}
                                                       ) }}"></a>
                                                {% endif %}

                                                {% if key=='html5multiupload' and product %}
                                                    {% set data = characteristic.vars.name|split('_') %}
                                                    <a class="multiuploadUrl"
                                                       href="{{ path(
                                                       'engine_catalog_dashboard_multiupload_file',
                                                       {'productId': product.id, 'characteristicId': data.0}
                                                       ) }}"></a>
                                                {% endif %}

                                            {% endfor %}
                                            {{ form_widget(characteristic) }}
                                            {{ form_errors(characteristic) }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </fieldset>

                    </div>

                    <div class="form-actions">
                        {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                        {#<button type="submit" class="btn btn-primary">Save</button>#}
                        <button class="btn">Cancel</button>
                    </div>

                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
    {% endblock %}

    {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/dashboard/js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('/dashboard/js/html5upload/base.js') }}"></script>
    <script src="{{ asset('/bundles/engine/catalogBundle/js/javascriptCharacteristic.js') }}"></script>
    <script type="text/javascript">
        characteristicTiny();
        characteristicFiles();
        characteristicMultifile();
    </script>
{% endblock %}