{% extends '::baseDashboard.html.twig' %}
 {% block body %}
     <div class="span12">

         <div class="widget ">

             <div class="widget-header">
                 <h3>Product Dashboard</h3>
             </div>
             <div class="widget-content">

                 {{ grid(grid) }}
                 <br><br><br>
                 <a class="btn btn-small" href="{{ path('engine_catalog_dashboard_create') }}">Create Product</a>
             </div>
         </div>
     </div>
 {% endblock %}
