{% extends '::baseDashboard.html.twig' %}
 {% block body %}
     <div class="span12">

         <div class="widget ">

             <div class="widget-header">
                 <h3>Product Dashboard</h3>
             </div>
             <div class="widget-content">
                 {% for product in products %}
                     <p>
                         <a href="{{ path('engine_catalog_dashboard_edit', {'id': product.id}) }}">
                             {{ product.alias }}
                         </a>
                         &nbsp;
                         <a href="{{ path('engine_catalog_dashboard_delete', {'id': product.id}) }}">
                             delete
                         </a>
                     </p>
                 {% endfor %}
                 <a class="btn btn-small" href="{{ path('engine_catalog_dashboard_create') }}">Create Product</a>
             </div>
         </div>
     </div>
 {% endblock %}
