{% extends '::baseDashboard.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('/bundles/engine/pageBundle/css/zTree/zTreeStyle.css') }}" rel="stylesheet"/>
    {% endblock %}

 {% block body %}

<div class="span12">

    <div class="widget ">

        <div class="widget-header">
            <i class="icon-user"></i>

            <h3>Page Dashboard</h3>
        </div>
        <div class="widget-content">

            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#formcontrols" data-toggle="tab">Form Controls</a>
                    </li>
                </ul>

                <br>

                <div class="tab-content">
                    <div class="tab-pane active" id="formcontrols">
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                        <fieldset>

                            <div class="control-group">
                                {{ form_label(form.alias, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.alias, { 'attr': {'class': 'span6'} }) }}
                                    {{ form_errors(form.alias) }}
                                </div>
                            </div>

                            <div class="control-group">
                                {{ form_label(form.title, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.title, { 'attr': {'class': 'span6'} }) }}
                                    {{ form_errors(form.title) }}
                                </div>
                            </div>

                            <div class="control-group">
                                {{ form_label(form.description, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.description, { 'attr': {'class': 'span6 tiny'} }) }}
                                    {{ form_errors(form.description) }}
                                </div>
                            </div>

                            <div class="control-group">
                                {{ form_label(form.date, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.date, { 'attr': {'class': 'span6'} }) }}
                                    {{ form_errors(form.date) }}
                                </div>
                            </div>

                            <div class="control-group">
                                {{ form_label(form.publish, null,  { 'label_attr': {'class': 'control-label'} }) }}
                                <div class="controls">
                                    {{ form_widget(form.publish, { 'attr': {'class': 'span6'} }) }}
                                    {{ form_errors(form.publish) }}
                                </div>
                            </div>


                            <div class="form-actions">
                                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary'} }) }}
                                {#<button type="submit" class="btn btn-primary">Save</button>#}
                                <button class="btn">Cancel</button>
                            </div>
                        </fieldset>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('/bundles/engine/pageBundle/js/javascript.js') }}"></script>
        <script src="{{ asset('/dashboard/js/tinymce/tinymce.min.js') }}"></script>
        <script type="text/javascript">pageEdit()</script>
    {% endblock %}