{% extends '::baseDashboard.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('/dashboard/css/zTree/zTreeStyle.css') }}" rel="stylesheet"/>
    {% endblock %}

 {% block body %}
     <div class="span12">
         <div id="target-1" class="widget">
             <div class="widget-content">
                 <h1>Pages</h1>

                 <p>
                 <ul id="tree" class="ztree" style="width:260px; overflow:auto;"></ul>
                 </p>
                 <a class="btn btn-small" href="{{ path('engine_page_create') }}">Create Page</a>
             </div>

         </div>

     </div>
     <a href="{{ path('engine_page_get_pages_ajax') }}" class="getAjaxData"></a>
     <a href="{{ path('engine_page_update_pages_ajax') }}" class="updateAjaxData"></a>
     <a href="{{ path('engine_page_publish_pages_ajax') }}" class="changePublishAjax"></a>
 {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('/bundles/engine/pageBundle/js/javascript.js') }}"></script>
        <script src="{{ asset('/dashboard/js/zTree/jquery.ztree.core-3.5.js') }}"></script>
        <script src="{{ asset('/dashboard/js/zTree/jquery.ztree.excheck-3.5.js') }}"></script>
        <script src="{{ asset('/dashboard/js/zTree/jquery.ztree.exedit-3.5.js') }}"></script>
        <script type="text/javascript">pageTree()</script>
    {% endblock %}
